name: Action Test
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Dispatch and return Run ID
        id: return_dispatch
        uses: Codex-/return-dispatch@main
        with:
          token: ${{ secrets.TOKEN }}
          ref: main
          repo: return-dispatch
          owner: codex-
          workflow: dispatch.yml
          workflow_inputs: '{"cake":"delicious"}'
      - name: Await Run ID ${{ steps.return_dispatch.outputs.run_id }}
        uses: ./
        with:
          token: ${{ github.token }}
          repo: return-dispatch
          owner: codex-
          run_id: ${{ steps.return_dispatch.outputs.run_id }}
